* {
    padding: 0;
    margin: 0;
    /* top: 0; */
    font-family: "Open Sans", sans-serif;
    user-select: none;
  }
  
  .container {
    /* background-color: rgb(217,223,221); */
    background-color: #ffffff;
    /* background-color: white; */
    overflow: hidden;
  }
  *::-webkit-scrollbar {
    display: none;
  }
  .salute {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* background-color: rgb(253,112,28); */
  }
  
  .saluteTextContainer {
    flex: 3;
  }
  
  .saluteImgContainer {
    flex: 1;
  }
  
  .saluteText {
    color: black;
    /* font-size: 10vw; */
    cursor: default;
  }
  
  .saluteImg {
    width: 100%;
  }
  
  
  .nameContainer {
    height: 100vh;
    width: 101%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("./img/bg.jpg"); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
  }
  
  .autoType{

  }

  .name {
    font-size: 7vw;
    color: rgb(174, 17, 0);
    cursor: default;
    text-align: center;
    /* line-height: 100vh; */
    margin-left:2.5vw ;
    margin-right:2.5vw ;
    position: absolute;
    border-radius: 3px;
    padding: 10;
    /* background-color: rgb(246,246,246);*/
    
    background-color: rgba(255, 153, 142, 0.541);
    opacity: 1; 
  }


  video{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .jobTitleContainer {
    height: 100vh;
  }
  
  .dark {
    /* background: url("./img/bg1.png"); */
    /* color: ; */
  }
  .purple {
    /* background: blanchedalmond url("./img/bg2.png"); */
  }
  
  .jobTitle {
    font-size: 7vw;
    color: rgb(17,17,17);
    line-height: 100vh;
    cursor: default;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    gap: 30vh;
    padding: 100px 100px;
  }
  
  .projectsTitle {
    font-size: 7vw;
    color: rgb(17,17,17);
    background-color: #fefe90;
    border-radius: 30px;
    padding: 20px;
  }
  
  .project {
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100vh;
    overflow: hidden;
    background-color:#d7d3f6;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:50;
    padding-right:50;
    color: rgb(39,28,100);
    border-radius: 30px;
  }
  
  .project:nth-child(2n) {
    flex-direction: row-reverse;
    background-color: rgb(253,240,242);
    color: rgb(119,0,18);
  }
  
  .phone {
    flex: 1;
    width: 300px;
    height: 600px;
    position: relative;
  }
  
  .phoneScreen {
    width: 264px;
    height: 567px;
    position: absolute;
    top: 17px;
    left: 18px;
    border-radius: 28px;
    overflow: scroll;
  }
  
  .phoneScreen::-webkit-scrollbar {
    display: none;
  }
  
  .phoneApp {
    width: 100%;
  }
  
  .projectDetail {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  
  .projectTitle {
    font-size: 7vw;
    color: inherit;
  }
  
  .projectDescription {
    font-size: 20px;
    color: inherit;
    text-align: justify;
    line-height: 40px;
  }
  
  .projectButton {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .projectButton::after {
    content: "View Demo";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555;
    color: #222;
  }
  
  .projectButton:hover.projectButton::after {
    transform: translateX(100%);
  }
  
  .laptop {
    width: 600px;
    height: 379px;
    flex: 1;
    position: relative;
  }
  
  .laptopScreen {
    width: 451px;
    height: 283px;
    position: absolute;
    top: 18px;
    left: 68px;
    overflow: scroll;
  }
  
  .laptopApp {
    width: 100%;
  }
  
  .laptopScreen::-webkit-scrollbar {
    display: none;
  }
  
  .githubContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .githubTitle {
    font-size: 100px;
    color: #333;
  }
  
  .githubChart {
    width: 820px;
    text-align: center;
  }
  
  .dates {
    padding: 10px;
    color: #555;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }
  
  .boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .box {
    width: 15px;
    height: 15px;
    background-color: #171c25;
    border-radius: 2px;
    cursor: pointer;
    transition: 3s all ease;
  }
  
  .active:nth-child(4n) {
    background-color: #195b2c;
  }
  
  .githubChart:hover .active:nth-child(2n+1){
    background-color: #195b2c;
  }
  .githubChart:hover .active:nth-child(2n){
    background-color: #063f24;
  }
  
  .githubSm{
    display: none;
  }

  .separator {
    height: 1px;
    background-color: #575252;
    /* position: absolute; */
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    box-sizing: border-box;
  }
  .contactContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    background-color: white;
    /* padding-left: 10vw;
    padding-right: 10vw; */
  }

  .contactHeading{
    font-size: 5vw;
    font-weight: 600;
    width: 25%;
  }
  
  .profileIcon{
    color: rgb(0, 0, 0);
    border-radius: 35px;
    padding:5px;
  }

  .profileIcon:hover{
    color:white;
    background-color: black;
    transition: 1s ;
  }

  .linksBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
  }

  @media screen and (max-width:1350px) {

    video{
      object-fit: contain;
      height: 100vh;
    }
    .projects{
      padding:  75px 75px;;
      text-align: center;
    }
  
    .project{
      flex-direction: column;
      height: max-content;
      padding-top: 50;
      padding-bottom: 50;
    }
    .project:nth-child(2n){
      flex-direction: column;
    }
  
    .phone,.laptop{
      transform: none !important;
    }

    .contactHeading{
      font-size: 6vw;
      font-weight: 600;
      width: 25%;
    }

    .linksBar{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 35vh;
    }
    
    .githubChart{
      display: none;
    }
  
    .githubTitle{
      text-align: center;
      font-size: 10vw;
    }
  
    .githubSm{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      color:#555;
      font-size: 30px;
      text-align: center;
    }
  }

  @media screen and (max-width:700px){
    
    
  }